@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
}

figcaption {
    display: none;
}

#body-login {
    background-image: url(./img/barbearia-imagem-de-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

#header-login {
    background-color: #0000007A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 71px;
    padding: 28px 8%;
    gap: 30px;
    font-family: "Nunito", sans-serif;
}

#logo-header-login {
    height: 22px;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ul-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.li-login {
    font-size: 0, 875rem;
    font-weight: 700;
    line-height: 140%;
}

.li-login a {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: .3s ease;
}

.li-login a:hover {
    opacity: .7;
}

#li-login a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 36px;
    font-weight: 700;
    line-height: 140%;
    font-size: 0, 875rem;
    background-color: #8162FF;
    color: #FFFFFF;
    border-radius: 10px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    transition: .3s ease;
}

#li-login a:hover {
    opacity: .7;
}

#card-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

@media (min-width: 768px) {
    #card-login #container-login {
        background-color: #000000C4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        width: 831px;
        height: 498px;
        margin-top: 10rem;
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

#container-login {
    background-color: #000000C4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    width: 277px;
    height: 498px;
    margin-top: 10rem;
    padding-top: 20px;
    padding-bottom: 40px;
}

#logo-login {
    width: 242px;
    height: 64.98px;
}

@media (min-width: 768px) {
    #container-login .txt-dft {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 286px;
        height: 92px;
        outline: none;
        border: none;
        background-color: #8162FF;
        color: #FFFFFF;
        border-radius: 10px;
        font-size: 1.4rem;
        font-weight: 700;
        font-family: "Nunito", sans-serif;
        line-height: 140%;
    }
}

.txt-dft {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 206px;
    height: 92px;
    outline: none;
    border: none;
    background-color: #8162FF;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    line-height: 140%;
}

@media (min-width: 768px) {
    #container-login .button-dft {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 286px;
        height: 92px;
        outline: none;
        border: none;
        background-color: #8162FF;
        color: #FFFFFF;
        border-radius: 10px;
        font-size: 1.4rem;
        font-weight: 700;
        font-family: "Nunito", sans-serif;
        line-height: 140%;
        transition: .3s ease;
        margin-bottom: 2.5rem;
    }
}

.button-dft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 92px;
    outline: none;
    border: none;
    background-color: #8162FF;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    line-height: 140%;
    transition: .3s ease;
    margin-bottom: 2.5rem;
}

.button-dft:hover {
    opacity: .7;
}

/* Desktop */

#body-desktop {
    background-color: #141518;
}

#header-desktop {
    background-color: #141518;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding: 24px 5%;
    font-family: "Nunito", sans-serif;
    border-bottom: 1px solid #26272B;
}

#ul-desktop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.li-desktop {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 140%;
    cursor: pointer;
}

@media (min-width: 768px) {
    #ul-desktop {
        display: flex;
        flex-direction: row;
    }
}

.li-desktop a {
    height: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: .3s ease;
}

.li-desktop a:hover {
    opacity: .7;
}

#li-desktop a {
    color: black;
    font-size: 1em;
    background-color: #FFFFFF;
    border: 1px solid #0000007A;
    border-radius: 12px;
    padding: 10px 10px;
}

#li-login-reserva a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #8162FF;
    border: 1px solid #0000007A;
    border-radius: 12px;
    padding: 10px 10px;
    transition: .3s ease;
}

#name-desktop {
    cursor: pointer;
}

#perfil-desktop {
    width: 36px;
    height: 36px;
    object-fit: contain;
    color: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
}

#section-desktop {
    background-image: url(./img/imagemdefundo-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 463px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
    padding-top: 64px;
    padding-right: 128px;
    padding-bottom: 64px;
    padding-left: 128px;
    align-items: center;
}

#section-desktop::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #141518;
    z-index: -1;
    opacity: 90%;
}

@media (min-width: 768px) {
    #section-desktop #container-desktop {
        margin: 0;
        align-items: flex-start;
        text-align: start;
    }
}

#container-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 48px;
    margin: 0 auto;
}

#title-desktop {
    color: #FFFFFF;
}

#title-desktop h1 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
    font-family: "Nunito", sans-serif;
}

#title-desktop span {
    font-weight: 700;
    font-size: 1.5rem;
}

#title-desktop p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 140%;
    font-family: "Nunito", sans-serif;
}

#search-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

@media (min-width: 768px) {
    #search-desktop #input-desktop {
        width: 391px;
        height: 2.25rem;
        border: none;
        outline: none;
        padding-left: .5rem;
        background-color: #1A1B1F;
        border-radius: 8px;
        border: 1px solid #26272B;
        color: gray;
    }
}

#input-desktop {
    width: 175px;
    height: 2.25rem;
    border: none;
    outline: none;
    padding-left: .5rem;
    background-color: #1A1B1F;
    border-radius: 8px;
    border: 1px solid #26272B;
    color: gray;
}

.fa-magnifying-glass {
    width: 2.25rem;
    height: 2.125rem;
    padding-top: 12px;
    background-color: #8162FF;
    border-radius: 8px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    transition: .3s ease;
    cursor: pointer;
}

.fa-magnifying-glass:hover {
    opacity: .7;
}

#appointments-desktop {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#agenda-desktop {
    font-family: "Nunito", sans-serif;
    font-size: 0.875rem;
    line-height: 140%;
    color: #838896;
}

@media (min-width: 768px) {
    #container-desktop #appointments-desktop #scheduling-desktop {
        width: 439px;
        height: 111px;
        background-color: #1A1B1F;
        border-radius: 10px;
        border: 1px solid #26272B;
        padding: 6px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

#scheduling-desktop {
    width: 219.5px;
    height: 151px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1B1F;
    border-radius: 10px;
    border: 1px solid #26272B;
}

@media (min-width: 768px) {
    #appointments-desktop #scheduling-desktop #barber-desktop {
        align-items: flex-start;
    }
}

#barber-desktop {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 4px;
}

#confir-desktop {
    width: 81px;
    height: 21px;
    border-radius: 100px;
    background-color: #221C3D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
}

#confirtxt-desktop {
    width: 65px;
    height: 17px;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 140%;
    color: #8162FF;
}

#barber-desktop h2 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 140%;
    color: #FFFFFF;
}

#figure-desktop {
    display: flex;
    align-items: center;
    gap: 10px;
}

#barberimg-desktop {
    width: 24px;
    height: 24px;
    border-radius: 100px;
}

#barberp-desktop {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    #scheduling-desktop #date-desktop {
        width: 106px;
        height: 111px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-left: 1px solid #26272B;
    }
}

#date-desktop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-top: 1px solid #26272B;
}

#date-desktop p {
    font-family: "Nunito", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 140%;
    color: #FFFFFF;
}

#date-desktop h2 {
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    #section-desktop #container-2-desktop {
        width: 617px;
        height: 335px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        display: flex;
    }
}

@media (min-width: 768px) {
    #container-2-desktop #recommended-desktop {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        color: #838896;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

#container-2-desktop {
    display: none;
}

#recommended-desktop {
    display: none;
}

#containerscroll-desktop {
    width: 617px;
    height: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrousel-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    position: relative;
}

#carrousel-desktop::-webkit-scrollbar {
    display: none;
}

.carrosel-chevron {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    border: 2px solid #26272B;
    background-color: #141518;
    border-radius: 50px;
    cursor: pointer;
    z-index: 999;
}

@media (min-width: 768px) {
    #container-1-2-desktop .carrosel-2-chevron {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translate(-100%, -50%);
        width: 55px;
        height: 55px;
        border: 2px solid #26272B;
        background-color: #141518;
        border-radius: 50px;
        cursor: pointer;
        z-index: 1;
    }
}

.carrosel-2-chevron {
    display: none;
}

#section-2-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.article-1-desktop {
    width: 220.8px;
    height: 295px;
    border-radius: 16px;
    background-color: #1A1B1F;
    border: 1px solid #26272B;
    padding: 2px;
}

.figure-2-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    position: relative;
}

.figure-2-desktop img {
    width: 213px;
    height: 159px;
    border-radius: 16px;
    object-fit: cover;
}

.rating-desktop {
    position: absolute;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: #221C3DB2;
    width: 54px;
    height: 25px;
    border-radius: 16px;
    margin-left: 2px;
}

.fa-star {
    color: #8162FF;
    font-size: 0.75rem;
}

.fiverating-desktop {
    font-family: "Nunito", sans-serif;
    color: #FFFFFF;
    font-size: 0.75rem;
}

.figure-2-desktop h2 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    padding-left: 12px;
    padding-top: 4px;
}

.p-figure-desktop {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: .75rem;
    color: #838896;
    padding-left: 12px;
    padding-top: 4px;
}

.containerbutton-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 196.8px;
    height: 36px;
    background-color: #26272B;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s ease;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: .875rem;
    line-height: 140%;
    color: #FFFFFF;
}

.containerbutton-desktop:hover {
    opacity: .7;
}

#section-1-2-desktop {
    padding-top: 40px;
    padding-right: 64px;
    padding-bottom: 40px;
    padding-left: 64px;
    overflow-x: scroll;
    overflow: hidden;
}

@media (min-width: 768px) {
    #section-1-2-desktop #title-1-2-desktop {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 20px;
        text-align: start;
    }
}

#title-1-2-desktop {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
}

@media (min-width: 768px) {
    #section-1-2-desktop #container-1-2-desktop {
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 20px;
        position: relative;
    }
}


#container-1-2-desktop {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

#footer-desktop {
    width: 100%;
    height: 65px;
    padding: 28px 5%;
    background-color: #1A1B1F;
    display: flex;
    align-items: center;
    color: #838896;
    font-family: "Nunito", sans-serif;
    margin-top: 165px;
}

#txt-desktop {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
}

#txt-desktop strong {
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
}

/* Agendamentos */

#body-scheduling {
    background-color: #141518;
    width: 100%;
    height: 100vh;
}

@media (min-width: 768px) {
    #body-scheduling #header-scheduling {
        width: 100%;
        height: 96px;
        background-color: #141518;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-right: 128px;
        padding-bottom: 30px;
        padding-left: 128px;
        border-bottom: 1px solid #26272B;
    }
}

@media (min-width: 768px) {
    #header-scheduling #search-scheduling {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}

#header-scheduling {
    width: 100%;
    height: 96px;
    background-color: #141518;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid #26272B;
}

#search-scheduling {
    display: none;
}

#input-scheduling {
    width: 535px;
    height: 2.25rem;
    border: none;
    outline: none;
    padding-left: .5rem;
    background-color: #1A1B1F;
    border-radius: 8px;
    border: 1px solid #26272B;
    color: gray;
}

#name-scheduling {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 140%;
    cursor: pointer;
}

@media (min-width: 768px) {
    #main-scheduling #section-scheduling {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

#section-scheduling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    #section-scheduling #container-scheduling {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        font-family: "Nunito", sans-serif;
        margin: 0;
    }
}

#container-scheduling {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-family: "Nunito", sans-serif;
    margin: 0 auto;
}

#title-scheduling {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.confir-scheduling {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 140%;
    color: #838896;
    padding-bottom: 10px;
}

.container-1-scheduling {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    #container-scheduling .scheduling-card {
        width: 444px;
        height: 111px;
        background-color: #1A1B1F;
        border-radius: 10px;
        border: 1px solid #26272B;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.scheduling-card {
    width: 302px;
    height: 222px;
    background-color: #1A1B1F;
    border-radius: 10px;
    border: 1px solid #26272B;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 768px) {
    .scheduling-card .appointments-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
        gap: 12px;
    }
}

.appointments-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 12px;
}

@media (min-width: 768px) {
    .appointments-card #confir-scheduling {
        width: 81px;
        height: 21px;
        border-radius: 100px;
        background-color: #221C3D;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Nunito", sans-serif;
        margin: 0;
    }
}

#confir-scheduling {
    width: 81px;
    height: 21px;
    border-radius: 100px;
    background-color: #221C3D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    margin: 0 auto;
}

#confirtxt-scheduling {
    width: 65px;
    height: 17px;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 140%;
    color: #8162FF;
}

.finished-scheduling {
    width: 74px;
    height: 21px;
    border-radius: 100px;
    background-color: #26272B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 140%;
    color: #838896;
}

.subtitle-scheduling {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 140%;
    color: #FFFFFF;
}

#figure-scheduling {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

@media (min-width: 768px) {
    .scheduling-card .date-card {
        width: 106px;
        height: 111px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        font-family: "Nunito", sans-serif;
        border-left: 1px solid #26272B;
        border-top: none;
    }
}

.date-card {
    width: 100%;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    border-top: 1px solid #26272B;
    padding: 4px;
}

.date-card p {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 140%;
}

.date-card h2 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
}

@media (min-width: 768px) {
    #section-scheduling #container-1-2-main-scheduling {
        display: flex;
        gap: 10px;
        width: 444px;
        height: 816px;
        padding-top: 65px;
    }
}

#container-1-2-main-scheduling {
    display: flex;
    gap: 10px;
    width: 302px;
    height: 816px;
    padding-top: 65px;
}

@media (min-width: 768px) {
    #section-scheduling .container-1-2-scheduling {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: #1A1B1F;
        width: 444px;
        height: 760px;
        padding: 20px;
        border-radius: 16px;
    }
}

.container-1-2-scheduling {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #1A1B1F;
    width: 302px;
    height: 760px;
    border-radius: 16px;
    margin: 0 auto;
}

.figure-1-scheduling {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

@media (min-width: 768px) {
    .figure-1-scheduling #mapimg-scheduling {
        width: 404px;
        height: 180px;
        object-fit: cover;
        border-radius: 8px;
        position: relative;
        margin: 0;
    }
}

#mapimg-scheduling {
    width: 262px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    position: relative;
    margin: 1rem;
}

@media (min-width: 768px) {
    .figure-1-scheduling .figure-1-2-scheduling {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        position: absolute;
        width: 306px;
        height: 72px;
        background-color: #1A1B1F;
        border-radius: 8px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
}

.figure-1-2-scheduling {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    width: 182px;
    height: 90px;
    background-color: #1A1B1F;
    border-radius: 8px;
    padding-left: 10px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .figure-1-2-scheduling #vinbarberimg-scheduling {
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 100px;
    }
}

#vinbarberimg-scheduling {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100px;
}

@media (min-width: 768px) {
    .figure-1-2-scheduling #containertxt-scheduling h2 {
        font-weight: 700;
        font-size: 1rem;
        line-height: 140%;
        text-align: start;
    }
}

#containertxt-scheduling {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
}

#containertxt-scheduling h2 {
    font-weight: 700;
    font-size: .7rem;
    line-height: 140%;
    text-align: center;
}

@media (min-width: 768px) {
    .figure-1-2-scheduling #containertxt-scheduling p {
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 140%;
        width: 100%;
    }
}

#containertxt-scheduling p {
    font-weight: 400;
    font-size: 0.5rem;
    line-height: 140%;
    width: 120px;
    text-align: center;
}

@media (min-width: 768px) {
    .container-1-2-scheduling #containerdesc-scheduling {
        width: 404px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #26272B;
        padding-bottom: 12px;
        font-family: "Nunito", sans-serif;
    }
}

#containerdesc-scheduling {
    width: 262px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #26272B;
    padding-bottom: 12px;
    font-family: "Nunito", sans-serif;
    text-align: justify;
}

#containerdesc-scheduling h2 {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 140%;
    color: #FFFFFF;
}

#containerdesc-scheduling p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 136%;
    color: #838896;
}

#container-call-scheduling {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #26272B;
    padding: 1rem
}

.containertel-scheduling {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.container-phone-scheduling {
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

@media (min-width: 768px) {
    .container-phone-scheduling #tel-scheduling {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 140%;
    }
}

.fa-mobile-button {
    font-size: 1rem;
}

#tel-scheduling {
    font-weight: 400;
    font-size: 0.65rem;
    line-height: 140%;
}

.btn-default {
    background-color: #26272B;
    width: 75px;
    height: 36px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 140%;
    cursor: pointer;
    transition: .3s ease;
}

.btn-default:hover {
    opacity: .7;
}

@media (min-width: 768px) {
    .container-1-2-scheduling #containerbuy-scheduling {
        width: 404px;
        height: 142px;
    }
}

#containerbuy-scheduling {
    width: 262px;
    height: 142px;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    #containerbuy-scheduling #containercard-scheduling {
        margin: 0 auto;
        width: 404px;
        height: 142px;
        margin-top: 12px;
        background-color: #1A1B1F;
        border: 1px solid #26272B;
        border-radius: 10px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        font-family: "Nunito", sans-serif;
    }
}

#containercard-scheduling {
    margin: 0 auto;
    width: 100%;
    height: 142px;
    margin-top: 12px;
    background-color: #1A1B1F;
    border: 1px solid #26272B;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: "Nunito", sans-serif;
    margin-bottom: 0.875rem;
}

#container-card-1-scheduling {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 140%;
}

#container-card-1-scheduling h2 {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 140%;
}

.container-card-2-scheduling {
    display: flex;
    justify-content: space-between;
}

.container-card-2-scheduling h2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.container-card-2-scheduling p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    color: #838896;
}

@media (min-width: 768px) {
    .container-1-2-scheduling #btncancel-scheduling {
        width: 404px;
        height: 46px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: #EF4444;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 140%;
        letter-spacing: 0%;
        cursor: pointer;
        transition: .3s ease;
    }
}

#btncancel-scheduling {
    width: 262px;
    height: 46px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #EF4444;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: 0%;
    cursor: pointer;
    transition: .3s ease;
}

#btncancel-scheduling:hover {
    opacity: .7;
}

/* Reserva */

#body-reserva {
    background-color: #141518;
    width: 100%;
    height: 100vh;
}

#header-reserva {
    background-color: #141518;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    width: 100%;
    height: 10vh;
    padding: 28px 7%;
    font-family: "Nunito", sans-serif;
    font-size: 1.4rem;
    border-bottom: 1px solid rgb(51, 51, 51);
}

#section-reserva {
    display: flex;
    justify-content: space-between;
    padding: 5vw 7vw;
    gap: 20px;
}

#container-reserva {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#barberimg-reserva {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

#content-reserva {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vw;
}

#local-reserva {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#vintitle-reserva {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 140%;
}

#localposition-reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.fa-location-dot {
    color: #8162FF;
    font-size: 1.2rem;
}

#localposition-reserva p {
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
}

#rating-reserva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1A1B1F;
    padding: 1vw 2vw;
    border-radius: 10px;
    color: #FFFFFF;
}

#ratingposition-reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

#ratingposition-reserva p {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 140%;
}

#txtrating-reserva {
    font-size: 1.2rem;
    text-align: center;
}

#service-reserva {
    width: 100%;
    height: auto;
}

#servicetitle-reserva {
    font-size: 1.4rem;
    line-height: 140%;
    color: #838896;
    margin-bottom: 15px;
}

#servicewrap-reserva {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 13px;
}

#articlecontainer-reserva {
    background-color: #1A1B1F;
    flex: 1 1 50px;
    height: auto;
    padding: .5vw;
    border-radius: 10px;
    border: 1px solid #26272B;
}

.article-reserva {
    display: flex;
    justify-content: space-evenly;
}

.corteimg-reserva {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}

#article-content-reserva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#article-content-reserva h2 {
    color: #FFFFFF;
    font-size: 1.4vw;
    font-weight: 700;
    line-height: 140%;
}

#articletxt-reserva {
    font-size: 1vw;
    font-weight: 400;
    line-height: 140%;
    width: 80%;
    color: #838896;
}

#article-price-reserva {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#article-price-reserva p {
    color: #8162FF;
    font-size: .8em;
    font-weight: 700;
    line-height: 140%;
}

.button-default-reserva {
    border: none;
    outline: none;
    width: 6vw;
    height: 5vh;
    border-radius: 10px;
    background-color: #26272B;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 700;
    font-size: 1vw;
    transition: .3s ease;
}

.button-default-reserva:hover {
    opacity: .7;
}

.container-1-2-reserva {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #1A1B1F;
    width: 45%;
    height: 100%;
    border-radius: 16px;
    padding: 20px;
}

#containercard-reserva {
    background-color: #1A1B1F;
    border-bottom: 1px solid #26272B;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: "Nunito", sans-serif;
}

#partnership-reserva {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

#partnership-reserva p {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 300;
}

#partnershipimg-reserva {
    width: 10vw;
    height: 5vh;
    object-fit: contain;
}

/* Function itens */


.label-modal {
    display: flex;
    align-items: center;
    gap: 12px;
}

.mensagem {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#mensagem-toggle:checked~.mensagem {
    display: flex;
}

.caixamensagem {
    background-color: #141518;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
    width: 318px;
    height: 146px;
}

.modal-buttons {
    margin-top: 1.5rem;
    display: flex;
    gap: 10px;
}

.btnsair {
    background-color: #EF4444;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 134px;
    height: 36px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}

.btnsair:hover {
    opacity: .7;
}

.btncancelar {
    background-color: #26272B;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 134px;
    height: 36px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}

.btncancelar:hover {
    opacity: .7;
}


.mensagem .caixamensagem p {
    margin-top: 1rem;
    color: #838896;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.mensagem .caixamensagem h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
}

/* Menu Lateral */

.container-aside {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    z-index: 999;
    transition: .3s ease;
    overflow: auto;
}

.container-aside::-webkit-scrollbar {
    display: none;
}

#toggle-menu:checked+.container-aside {
    right: 0;
}

@media (min-width: 768px) {
    .container-aside #menu-aside {
        display: flex;
        flex-direction: column;
        width: 370px;
        height: 1024px;
        padding-top: 24px;
        padding-bottom: 24px;
        gap: 24px;
        background-color: #141518;
    }
}

#menu-aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1024px;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 24px;
    background-color: #141518;
}

#header-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #26272B;
}

#header-aside h2 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 140%;
}

#header-aside img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#calendar-aside {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

#containermonth-aside {
    width: 100%;
    height: 284px;
    border-radius: 16px;
    padding-left: 24px;
}

#calendar-aside h2 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 140%;
    color: #FFFFFF;
}

#monthchevron-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
}

#chevron-aside {
    display: flex;
    gap: 12px;
}

#chevron-left {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid #26272B;
    transition: .3s ease;
}

#chevron-left:hover {
    background-color: #343435;
}

#chevron-right {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid #26272B;
    transition: .3s ease;
}

#chevron-right:hover {
    background-color: #343435;
}

#month-aside {
    width: 100%;
    height: 256px;
    padding-top: 16px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 0.8rem;
}

#week-aside {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#week-aside p {
    font-weight: 400;
    line-height: 20px;
    color: #838896;
}

#days-aside {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 10px;
}

.days-aside {
    font-weight: 400;
    line-height: 20px;
    color: #838896;
    opacity: .5;
}

.rowdays-aside {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#days6-aside {
    width: 36px;
    height: 36px;
    gap: 10px;
    border-radius: 50px;
    background-color: #8162FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.samedays-aside {
    opacity: .5;
    line-height: 20px;
}

#hourcontainer-aside {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border-top: 1px solid #26272B;
    border-bottom: 1px solid #26272B;
    margin-bottom: 5px;
    overflow-x: scroll;
    overflow: hidden;
}


.hour-aside {
    width: 69px;
    height: 36px;
    border-radius: 50px;
    border: 1px solid #26272B;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
}

.hour-aside:hover {
    opacity: .7;
}

#hours-aside {
    width: 70px;
    height: 36px;
    border-radius: 50px;
    background-color: #8162FF;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 140%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
}

#hours-aside:hover {
    opacity: .7;
}

#containercard-aside {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#container-card-1-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 140%;
}

.container-card-2-aside {
    display: flex;
    justify-content: space-between;
}

.container-card-2-aside p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    color: #838896;
}

.container-card-2-aside h3 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    color: #FFFFFF;
}

#button-aside {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border-radius: 10px;
    gap: 8px;
    border: none;
    outline: none;
    background-color: #8162FF;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 140%;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s ease;
}

#button-aside:hover {
    opacity: .7;
}